<!--
  Generated template for the DetailEventparticipantsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
	<ion-navbar color="secondary">
    <ion-title *ngIf="userType == 'participants'">
	    <!-- <img alt="logo" height="40" src="assets/img/logo.png" >  -->
	    Peserta
    </ion-title>

    <ion-title *ngIf="userType == 'friends'">
      <!-- <img alt="logo" height="40" src="assets/img/logo.png" >  -->
      Teman
    </ion-title>  
	</ion-navbar>
</ion-header>

<ion-content padding>
  <!-- Search bar -->
  <ion-searchbar placeholder="Search" [(ngModel)]="searchKeyword" [showCancelButton]="true" (ionInput)="submitSearch('refresh')" (ionCancel)="clearSearchBar()" debounce="3000"></ion-searchbar>
  
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

	<div *ngIf= "participantData == null" class="vertical-align-content">
		<ion-grid>
			<ion-row>
				<ion-col>
					<ion-spinner></ion-spinner>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div> 

	<div *ngIf= "participantData != null">
    <!-- user list -->
    <ion-list class="no-padding-margin main-list">		
        <!-- loop utama -->
        <ion-list no-lines *ngFor="let participant of participantData" class="no-padding-margin inner-list"> <!-- inner-list:  style="padding-left: 48px"-->        
          <!-- avatar -->
          <ion-item (click)="goToProfilePage(participant.id)" tappable>
            <ion-avatar item-start>
              <img class="avatar" [src]="util.checkAvatar(participant.avatar)" class="profile-picture">            
            </ion-avatar>
            <h3>{{participant.fullname}}</h3>
            <p>{{participant.email}}</p>   
          </ion-item>
        </ion-list>  
      </ion-list>
  </div>
  
  <!-- infinite scroll here -->
  <ion-infinite-scroll *ngIf="canLoadMore" (ionInfinite)="doLoadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>  
</ion-content>