
  <!-- <ion-navbar color="secondary">
    <!-- <ion-title>LoginPage</ion-title> -->
  <!-- </ion-navbar> --> 

<ion-content>
  <div class="back_button" (click)="back()">
    <ion-icon name="arrow-back"></ion-icon> <span>BACK</span>
  </div>
  <form class="form first-section" #myForm="ngForm">
    <div class="rcol">
      <div class="login-frame">
        <div class="input-section">
          <ion-input [(ngModel)]="username" required type="text" name="firstname" placeholder="Email or username"></ion-input>
        </div>
        <div class="input-section">
          <ion-input [(ngModel)]="password" required type="password" name="password" placeholder="Password"></ion-input>
        </div>
        <div class="button-section">
          <button ion-button block color="primary" [disabled]="!myForm.valid" (click)="doLogin()">LOGIN</button>
        </div>
        <br/>
        <div class="skip" tappable (click)="guest()">
          or skip this step
        </div>
      </div>
    </div>
  </form>

  <!--<form class="form" #myForm="ngForm">
    <ion-list #fgName="ngModelGroup" ngModelGroup="name">
     
        <ion-item>
          <ion-label stacked>Username / Email </ion-label>
          <ion-input [(ngModel)]="username" required type="text" name="firstname"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label stacked>Password</ion-label>
          <ion-input [(ngModel)]="password" required type="password" name="password"></ion-input>
        </ion-item>
        
        <button ion-button block color="primary" [disabled]="!myForm.valid" (click)="doLogin()">LOGIN</button>
      </ion-list>
      
    </form>-->
    
</ion-content>
