page-login {
    .back_button{
        position: fixed;
        top: 24px;
        left: 24px;
        background: white;
        z-index: 99999;
        padding: 8px;
        border-radius: 4px;
        color: rgba(0, 0, 0, .7);
    }
    .first-section{
        background: url(../assets/img/panjang.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100%;
        display: table;
        vertical-align: middle;
        width: 100%;
        >.rcol{
            width: 100%;
            height: 100%;
            display: table-cell;
            vertical-align: middle;

            // Main Frame awal setelah intro
            >.main-frame{
                text-align: center;
                background: white;
                border-radius: 50px;
                padding: 80px 20px;
                margin: 5%;
                >div{
                    >img{
                        width: 50%;
                        margin-bottom: 75px;
                    }
                }
                >.rbutton{
                    background: #616161;
                    color: white;
                    height: 2.3em;
                    margin-top: 25px;
                    border-radius: 1.5em;
                    line-height: 1.5em;
                    margin-left: 10%;
                    margin-right: 10%;
                    font-size: 1.3em;
                    padding: 8px;
                    font-weight: bolder;
                }
            }

            >.signup-frame{
                text-align: center;
                background: white;
                border-radius: 50px;
                padding: 80px 50px;
                padding-bottom: 20px;
                margin: 5%;
                >.input-section{
                    >input{
                        width: 100%;
                        border: solid 1px rgba(0, 0, 0, .49);
                        margin-bottom: 24px;
                        border-radius: 1.5em;
                        padding: 1.3em 1.5em;
                    }
                }
                >.button-section{
                    >input{
                        float: right;
                        background: #6EC829;
                        border-radius: 1em;
                        border: none;
                        font-weight: bolder;
                        padding: 8px 16px;
                        color: white;
                        box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
                    }
                }
                >.skip{
                    margin-top: 50px;
                    font-style: italic;
                    text-decoration: underline;
                    font-size: 1.2em;
                    color: #666;
                }
            }

            >.login-frame{
                text-align: center;
                background: white;
                box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
                border-radius: 50px;
                padding: 80px 50px;
                padding-bottom: 20px;
                margin: 5%;
                >.input-section{
                    >input{
                        width: 100%;
                        border: solid 1px rgba(0, 0, 0, .5);
                        margin-bottom: 24px;
                        border-radius: 1.5em;
                        padding: 1.3em 1.5em;
                    }
                }
                >.button-section{
                    >button{
                        float: right;
                        background: #6EC829;
                        border-radius: 1em;
                        border: none;
                        font-weight: bolder;
                        padding: 8px 16px;
                        color: white;
                        box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
                    }
                }
                >.skip{
                    margin-top: 50px;
                    font-style: italic;
                    text-decoration: underline;
                    font-size: 1.2em;
                    color: #666;
                }
            }
        }
    }
}
