<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>  
  <ion-navbar color="secondary">
    <ion-title>
      <img alt="logo" height="40" src="assets/img/logo.png" >
    </ion-title>
  </ion-navbar>  
</ion-header>
  
  
  <ion-content padding>
      <ion-refresher (ionRefresh)="doRefresh($event)">
          <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
  
    <div *ngIf= "data == null" class="vertical-align-content">
      <ion-grid>
            <ion-row>
                  <ion-col>
                        <ion-spinner></ion-spinner>
                  </ion-col>
            </ion-row>
      </ion-grid>
    </div> 
  
    <div *ngIf= "data != null">
        <ion-grid class="data-header">
            <ion-row class="profile-control">
              <ion-col col-4 class="profile-picture">
                <img src="{{util.checkAvatar(data.data.avatar)}}" alt="">
              </ion-col>
              <ion-col col-8 class="profile-detail">
                <ion-row class="key-val-row">
                  <!-- <ion-col col-4 class="key-val-col">
                    <div class="key">
                      200
                    </div>
                    <div class="val">
                      Pohon
                    </div>
                  </ion-col> -->
                  <ion-col col-4 class="key-val-col">
                      <div class="key">
                        {{data.data.planted_trees}}
                      </div>
                      <div class="val">
                        Pohon
                      </div>
                    </ion-col>
                  <ion-col col-4 class="key-val-col">
                    <div class="key">
                      {{data.data.following}}
                    </div>
                    <div class="val">
                      Teman
                    </div>
                  </ion-col>
                
                </ion-row>

                <ion-row class="edit-profile">
                  <button *ngIf="isLoadingFriend" ion-button block small disabled color="secondary" >Mohon Tunggu..</button>
                  <button *ngIf="isFriend && !isLoadingFriend" ion-button block small outline color="secondary" >Mengikuti</button>
                  <button *ngIf="!isFriend && !isLoadingFriend" ion-button block small color="secondary" (click)="addFriend()" >Ikuti</button>
                </ion-row>
               
              </ion-col>
            </ion-row>
            <ion-row class="profile-name">
              <ion-col>
                {{data.data.fullname}} <ion-icon *ngIf="data.data.is_verified == 1"  name="checkmark-circle"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row class="profile-description">
              <ion-col>
                {{data.data.bio}}
              </ion-col>
            </ion-row>
          </ion-grid>

           <!-- The tabs -->
				<ion-segment [(ngModel)]="selectedTab" color="secondary" (ionChange)="onSearchTabChange($event)">
            <ion-segment-button value="grid">
              <ion-icon name="md-grid"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="maps">
                <ion-icon name="md-calendar"></ion-icon>
            </ion-segment-button>
          </ion-segment>	
          
        <div *ngIf="selectedTab == 'grid' ">
          <ion-grid class="gallery">
              <div *ngFor="let m of data.data.posting; let i = index">			
                <ion-row *ngIf="i % 3 == 0">
                  <ion-col style="padding : 1px"	 width-33 >
                    <img *ngIf="i < data.data.posting.length" (click)="goDetail(data.data.posting[i+0].id)" [src]="data.data.posting[i].images[0].path" width="100%" height ="100px"> 
                  </ion-col>
                  <ion-col style="padding : 1px" width-33 >
                    <img *ngIf="i+1 < data.data.posting.length" (click)="goDetail(data.data.posting[i+1].id)" [src]="data.data.posting[i+1].images[0].path" width="100%" height ="100px"> 
                  </ion-col>
                  <ion-col style="padding : 1px" width-33>
                    <img *ngIf="i+2 < data.data.posting.length" (click)="goDetail(data.data.posting[i+2].id)" [src]="data.data.posting[i+2].images[0].path" width="100%" height ="100px"> 
                  </ion-col>
                </ion-row>
              </div>
            </ion-grid>	
          </div>

          <div *ngIf="selectedTab == 'maps'">
              <div #map id="map"></div>
            </div>
            
  </div>
  </ion-content>
  