page-detail-profile {

    ion-nav.has-views {
        background-color: transparent !important;
        }
        
        ion-app.gmapscdv_ .nav-decor{
        background-color: transparent !important;
        }
    #map {  
        height: 400px;
        }        
    .row-wrap {
        flex-wrap: wrap;
      }

      .gallery {
        -webkit-flex-wrap: wrap;
         flex-wrap: wrap;
    }  

    
    .vertical-align-content > *
    {
         display: flex!important;
         align-content: center!important;
         align-items: center!important;
    }
    .data-header{
        >.profile-control{
            vertical-align: middle;
            >.profile-picture{
                >img{
                    height: 84px;
                    width: 84px;
                    border-radius: 50%;
                }
            }
            >.profile-detail{
                >.key-val-row{
                    >.key-val-col{
                        text-align: center;
                        >.key{
                            font-weight: bold;
                        }
                        >.val{
                            color: rgba(0, 0, 0, .5);
                        }
                    }
                }
                >.edit-profile{
                    margin-top: 8px;
                    >span, >ion-icon{
                        border: solid 1px rgba(0, 0, 0, .3);
                        border-radius: 2px;
                        padding: 4px 8px;
                    }
                    >span{
                        width: 80%;
                        text-align: center;
                        margin-right: 4px;
                    }
                    >ion-icon{
                    }
                }
            }
        }
        >.profile-name{
            font-weight: bold;
            ion-icon{
                color: #01A7FF;
            }
        }
        >.profile-description{
            color: rgba(0, 0, 0, .5);
        }
    }
}
