<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      Location
    </ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content>
    <ion-segment [(ngModel)]="selectedTab" color="secondary" (ionChange)="onTabChange($event)">
        <ion-segment-button value="me">
          POHON SAYA
        </ion-segment-button>
        <ion-segment-button value="all">
          SEMUA POHON
        </ion-segment-button>
      </ion-segment>
      
      <div id="map"></div>
</ion-content>