page-activity {
    .search {
        width: 100%;
        padding: 8px;
        z-index: 999;
        left: 0;
        >button{
            width: 100%;
            text-align: center;
        }
    }

    .item{
        padding: 0 !important;
        margin: 0 !important;
    }
    .item-inner{
        padding: 0 !important;
        margin: 0 !important;
        border-bottom: none !important;
    }

    ion-card {
        margin:0 !important;
        width : 100% !important;
    }

    ion-list{
        ion-item{
            .grid-a{
                margin-left: 10px;
                margin-top: -10px;
                margin-bottom: -10px;
                bottom: -10px;
                .row-a{
                    .col-a{
                        .grid-b{
                            border: solid 1px rgba(0, 0, 0, .2);
                            .image-list{
                                position: absolute;
                                right: 5px;
                                margin-top: -5px;
                                width: 30%;
                                height: 100%;
                            }
                            .row-b{
                                >ion-col{

                                }
                            }
                            .user-profile{
                                .col-b{
                                    
                                }
                                .col-10{
                                    font-size: .8em;
                                    >img{
                                        width: 54px;
                                        height: 54px;
                                    }
                                    >.profile-dex{
                                        display: inline-block;
                                        >.profile-name{
                                            font-weight: bold;
                                        }
                                        >.time{

                                        }
                                    }
                                }
                            }
                            .user-data{
                                width: 50%;
                                word-break: break-word;
                                .col-b{
                                    font-size: .8em;
                                    width: 100%;
                                    margin-left: 4px;
                                    word-break: break-word;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
