<!--
  Generated template for the ActivityPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
    <ion-title>
      <img alt="logo" height="40" src="assets/img/logo.png" > 
    </ion-title>
  </ion-navbar>

  <!-- search button -->
  <!-- <div class="search" *ngIf="globalVar.loginState">
    <button ion-button block outline (click)="goToSearchPage()" ion-button color="tertiary">  
      <ion-icon name="search"></ion-icon>
      Search
    </button>
  </div>   -->

  	 <!-- The tabs -->
     <ion-segment [(ngModel)]="selectedTab" color="secondary" (ionChange)="onSearchTabChange($event)">
      <ion-segment-button value="ALL">
          Semua
      </ion-segment-button>
      <ion-segment-button value="FRIEND">
          Teman
      </ion-segment-button>
    </ion-segment>	
</ion-header>


<ion-content no-padding>
   
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let row of data">      
        <ion-item (click)="goDetail(row.id)" tappable>
          <ion-avatar style="margin-left:5px" item-start>
              <img [src]="util.checkAvatar(row.profile.avatar)">
              <!-- <img src="assets/img/user-placeholder.png"> -->
          </ion-avatar>
          <h3>{{row.created_by}}</h3>
          <p>{{util.formattedDate(row.created_at)}}</p>
        </ion-item>
      
        <img (click)="goDetail(row.id)" tappable [src]="row.images[0].path">
      
        <ion-card-content (click)="goDetail(row.id)" tappable>
          <h3><b>{{row.caption}}</b></h3>
          <ion-note><ion-icon name="pin"></ion-icon> {{row.location}}</ion-note>
        </ion-card-content>
      
        <ion-row (click)="navToComments(row.id)" tappable>
          <ion-col>
            <ion-note>
                <ion-icon name="chatboxes"></ion-icon>
                 Beri komentar
            </ion-note>
            <hr/>
          </ion-col>
        </ion-row>
      
      </ion-card>
  
  <!-- ion list here-->
  <!-- <ion-list>
    <ion-item *ngFor="let row of data">
      <ion-grid class="grid-a">
        <ion-row class="row-a" (click)="goDetail(row.id)" tappable>
          <ion-col class="col-a">
            <ion-grid class="grid-b">
              <img class="image-list" [src]="row.images[0].path">
              <ion-row class="row-b user-profile" align-items-center>
                <ion-col col-12 class="col-10 col-b" align-items-center>
                    <img src="assets/img/user-placeholder.png" class="profile-picture">
                    <div class="profile-dex">
                      <div class="profile-name">
                          {{row.created_by}}  
                      </div>
                      <div class="time">
                          {{util.formattedDate(row.created_at)}}
                      </div>
                      <br/>
                    </div>
                </ion-col>
              </ion-row>
              <ion-row class="user-data row-b">
                <ion-col class="col-b">
                    {{row.caption}}
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list> -->
   
  <!-- infinite scroll here -->
  <ion-infinite-scroll *ngIf="canLoadMore" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab *ngIf="loginState" right bottom #fab>
    <button ion-fab color="secondary"><ion-icon name="md-menu"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab color="secondary" (click)="goToSearchPage()" ><ion-icon name="md-search"></ion-icon></button>
      <button ion-fab color="secondary" (click)="createActivity(fab)" ><ion-icon name="md-add"></ion-icon></button>
    </ion-fab-list>
    
  </ion-fab>

</ion-content>
