<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <div class="back_button" (click)="back()">
    <ion-icon name="arrow-back"></ion-icon> <span>BACK</span>
  </div>
  <form class="form first-section" #myForm="ngForm">
    <div class="rcol">
      <div class="signup-frame">
        <div class="input-section">
          <ion-input [(ngModel)]="email" required type="email" name="email" placeholder="Email"></ion-input>
        </div>
        <div class="input-section">
          <ion-input [(ngModel)]="username" required type="text" name="username" placeholder="Username"></ion-input>
        </div>
        <div class="input-section">
          <ion-input [(ngModel)]="password" required type="password" name="password" placeholder="Password"></ion-input>
        </div>
        <div class="input-section">
          <ion-input [(ngModel)]="fullname" required type="text" name="fullname" placeholder="Full Name"></ion-input>
        </div>
        <div class="button-section">
          <button ion-button block color="primary" [disabled]="!myForm.valid" (click)="doRegister()">SIGN UP</button>
        </div>
      </div>
    </div>
  </form>
</ion-content>
