<ion-tabs color="secondary" >
  <ion-tab [root]="tab1" tabIcon="list" (ionSelect)="getTotalUnreadInboxMessages()"></ion-tab>
  <ion-tab [root]="tab2" tabIcon="pin" (ionSelect)="getTotalUnreadInboxMessages()"></ion-tab>
  <ion-tab *ngIf="loginState" [root]="tab3" tabIcon="people" (ionSelect)="resetTotalUnreadInboxMessages()" [tabBadge]="this.totalUnreadInboxMessages" tabBadgeStyle="danger"></ion-tab>
  <ion-tab *ngIf="loginState" [root]="tab4" tabIcon="calendar" (ionSelect)="getTotalUnreadInboxMessages()"></ion-tab>
</ion-tabs> 
