<!--
  Generated template for the DetailContentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
    <ion-title>
      <!-- <img alt="logo" height="40" src="assets/img/logo.png" >  -->
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <div *ngIf= "data == null" class="vertical-align-content">
        <ion-grid>
              <ion-row>
                    <ion-col>
                          <ion-spinner></ion-spinner>
                    </ion-col>
              </ion-row>
        </ion-grid>
    </div>
    <div *ngIf= "data != null" id="custom-view">
        <div class="in-view">
          
            <div class="row header-section">
                <div class="col col-100 col-center" tappable (click)="goToOtherProfile(data.profile.user_id)">
                    <img [src]="util.checkAvatar(data.profile.avatar)">
                    <div class="name-time">
                        <div class="name">
                            {{data.profile.fullname}}
                        </div>
                        <div class="timex">
                           {{util.formattedDate(data.created_at)}}
                        </div>
                        <div class="timex">
                            &nbsp;
                        </div>
                    </div>
                </div>
            </div>
            <div class="row body-section">
                <img [src]="data.images[0].path">
            </div>
           
            <div class="row">
                <div class="col col-100">
                    <b>{{data.caption}}</b>
                </div> 
            </div>
            
            <div class="row">
                    <div class="col col-100">
                        {{data.deskripsi}}
                    </div> 
            </div>

            <ion-grid>
                <ion-row>
                    <ion-col col-1>
                        <ion-icon name="md-calendar"></ion-icon> 
                    </ion-col>
                    <ion-col col-11>
                        {{data.event.event_name}}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1>
                            <ion-icon name="md-flower"></ion-icon>
                    </ion-col>
                    <ion-col col-11>
                        {{data.tree.tree_name}}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1>
                            <ion-icon name="md-pin"></ion-icon>
                    </ion-col>
                    <ion-col col-11>
                            {{data.location}}
                    </ion-col>
                </ion-row>
            </ion-grid>
                  

            <ion-list *ngIf="commentCount > 0">
                <br>
                <br>
                <br>
                
                <ion-list-header>
                   Komentar
                </ion-list-header>
                <ion-item text-wrap *ngFor="let row of commentData">
                  <ion-avatar item-start>
                    <img src="{{util.checkAvatar(row.avatar)}}">
                  </ion-avatar>
                  <h2>{{row.fullname}}</h2>
                  <p class="small-text">{{util.formattedDate(row.created_at)}}</p>
                  <br>
                  <span class="comment-text">{{row.comment}}</span>
                </ion-item>
            </ion-list>

            <ion-row (click)="navToComments(activity_id)" tappable>
                <ion-col>
                    <ion-note>
                        <ion-icon name="chatboxes"></ion-icon>
                        Beri komentar
                    </ion-note>
                    <hr/>
                </ion-col>
            </ion-row>


        </div>
    </div>

</ion-content>
