page-detail-content {
    .vertical-align-content > *
    {
         display: flex!important;
         align-content: center!important;
         align-items: center!important;
    }
    #custom-view{
        z-index: 100;
        width: 100%;
        >.in-view{
            z-index: 99;
            background: white;
            >.maps-view{
                z-index: 1007;
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                padding: 32px;
                padding-top: 16px;
                padding-bottom: 48px;
                >.close-icon{
                    position: absolute;
                    font-size: 2em;
                    right: 32px;
                    margin: 8px;
                    padding: 4px 8px;
                    background: white;
                    border-radius: 2px;
                }
                >iframe{
                    z-index: 1009;
                    background: #EEE;
                    box-shadow: 0 0 120px rgba(0, 0, 0, .4);
                    width: 100%;
                    height: 100%;
                }
            }
            >.header-section{
                padding: 8px;
                >.col-100{
                    img{
                        width: 64px;
                        height: 64px;
                        border-radius: 50%;
                    }
                    >.name-time{
                        display: inline-block;
                        margin-bottom: 12px;
                        margin-left: 0px;
                        .name{
                            font-weight: bold;
                        }
                        .time{
                            margin-top: -5px;
                            font-size: .8em;
                        }
                    }
                }
                >.col-10{
                    >i{
                        font-size: 2.2em;
                    }
                }
            }
            >.body-section{
                >img{
                    background: white;
                    width: 100vw;
                    height: 100vw;
                    object-fit: cover;
                }
            }
            >.footer-section{
                padding: 8px;
                >.col-100{
                    text-align: left;
                    padding-top: 35px;
                    >.table-row{
                        margin-top: -20px;
                        >.col-33{
                            font-size: .9em;
                            margin-left: 20px;
                            text-align: left;
                            font-weight: bold;
                        }
                        >.col-67{
                            font-size: .9em;
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}
