page-edit-profile {

    ion-title {
        text-align: left !important;
    }

    .attend{
        position: fixed;
        bottom: 56px;
        width: 100%;
        padding: 8px;
        z-index: 999;
        background: rgba(0, 0, 0, 0);
        left: 0;
        >button{
            width: 100%;
            text-align: center;
        }
    }
}
