<!--
  Generated template for the EditProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Edit Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-grid>
      <ion-row text-center>
        <ion-col tappable (click)="pickFoto()">
            <img style="width:50%;border-radius:50%" src="{{pathForImage(imgDiri)}}" >
            <p>Ganti Foto</p>      
        </ion-col>
      </ion-row>  
      <ion-row>
        <ion-col>
          <form class="form" #myForm="ngForm">
          <ion-list #fgName="ngModelGroup" ngModelGroup="name">
              <!-- <ion-item>
                  <ion-label floating>Username</ion-label>
                  <ion-input required type="text" name="username" [(ngModel)]="username"></ion-input>
                </ion-item>  -->
                <ion-item>
                    <ion-label floating>Username</ion-label>
                    <ion-input type="text" name="username" [(ngModel)]="username"></ion-input>
                    <button disabled ion-button clear color="dark" type="button" item-right> <ion-icon name="md-mail"> </ion-icon> </button>
                  </ion-item>
            <ion-item>
                <ion-label floating>Email</ion-label>
                <ion-input  type="email" name="email" [(ngModel)]="email"></ion-input>
                <button disabled ion-button clear color="dark" type="button" item-right> <ion-icon name="md-mail"> </ion-icon> </button>
              </ion-item>
              <ion-item>
                  <ion-label floating>Password</ion-label>
                  <ion-input  type="password" name="password" [(ngModel)]="password"></ion-input>
                  <button disabled ion-button clear color="dark" type="button" item-right> <ion-icon name="md-key"> </ion-icon></button> 
                </ion-item>

                <ion-item>
                    <ion-label floating>Full Name</ion-label>
                    <ion-input type="text" name="fullname" [(ngModel)]="fullname"></ion-input>
                    <button disabled ion-button clear color="dark" type="button" item-right> <ion-icon name="md-contact"> </ion-icon></button> 
                  </ion-item>  
             
          </ion-list>  
          </form>
             <div>
              <button ion-button block color="secondary" (click)="doEditProfile()">
                UPDATE
              </button>
            </div>
        </ion-col>
      </ion-row>  
    </ion-grid>
</ion-content>
