page-maps {
    ion-nav.has-views {
        background-color: transparent !important;
        }
        
        ion-app.gmapscdv_ .nav-decor{
        background-color: transparent !important;
        }
    #map {  
        height: 100%;
        }

}
