<ion-header>
    <ion-navbar color="secondary">
        <!-- <ion-buttons left>
            <button ion-button icon-only (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons> -->
      <!-- <ion-title>
        Ionic Blank
      </ion-title> -->
    </ion-navbar>
  </ion-header>
   
  <ion-content>
      <div #map id="map"></div>
  </ion-content>