<!--
	Generated template for the EventPage page.

	See http://ionicframework.com/docs/components/#navigation for more info on
	Ionic pages and navigation.
-->
<ion-header>
	
	<ion-navbar color="secondary">
		<ion-title>
			<img alt="logo" height="40" src="assets/img/logo.png" > 
		</ion-title>
	</ion-navbar>
	
</ion-header>
	
	
	<ion-content>
			<ion-fab *ngIf="myProfileData.is_verified == 1" right bottom>
					<button (click)="goToAddEvent()" color="secondary" ion-fab><ion-icon name="add"></ion-icon></button>
			</ion-fab>

		<div *ngIf= "data == null" class="vertical-align-content">
				<ion-grid>
					<ion-row>
						<ion-col>
							<ion-spinner></ion-spinner>
						</ion-col>
					</ion-row>
				</ion-grid>
			</div>

		<div *ngIf= "data != null">

			<ion-refresher (ionRefresh)="doRefresh($event)">
				<ion-refresher-content></ion-refresher-content>
			</ion-refresher>

			<!-- Real floating action button, fixed. It will not scroll with the content -->
			<ion-list class="no-padding-margin main-list">
				
				<!-- loop utama -->
				<ion-list *ngFor="let inner of data" class="no-padding-margin inner-list"> <!-- inner-list:  style="padding-left: 48px"-->
					<div class="date-label"> <!-- date-label:  style="position: absolute; left: 0; width: 56px; text-align: center;" -->
						<div class="date-label-number">{{getDayName(inner.event_date)}}</div> <!-- date-label-number:  style="font-weight: bold" -->
						<div>{{getMonthName(inner.event_date)}}</div>
					</div>
					<!-- loop setelah tanggal group -->
					<ion-card *ngFor="let row of inner.events" (click)="goToDetailEvent(row)">
						<ion-card-content>
							<div>
								<p><ion-icon name="calendar"> </ion-icon> {{getFormatedDate(row.event_date)}} </p>
								<p><ion-icon name="md-clock"> </ion-icon> {{getFormatedTime(row.event_time)}} </p>
							</div>
							<div class="event-description"> <!-- event-description:  style="font-weight: bold;word-wrap: break-word; margin: 16px 0; margin-right: 8px;" -->
								{{row.event_name}}
							</div>	
							<div>
								{{row.location}}
							</div>
						</ion-card-content>
					</ion-card>
					
				</ion-list>  
			</ion-list>
		</div>
	</ion-content>