<!--
  Generated template for the FirstPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!-- <ion-navbar>
    <ion-title>FirstPage</ion-title>
  </ion-navbar> -->

</ion-header>


<ion-content>
  <div class="first-section">
    <div class="rcol">
      <div class="main-frame">
        <div>
          <img src="assets/img/logo-home.png">
        </div>
        <div class="rbutton" (click)="goRegister()">
          GET STARTED
        </div>
        <div class="rbutton" (click)="goLogin()">
          LOG IN
        </div>
      </div>
    </div>
  </div>
  <!--<button block ion-button color="primary"> GET STARTED </button>
  <button block ion-button color="secondary" (click)="goLogin()"> LOGIN </button>-->

</ion-content>
