page-profile {

    
.flex-center-text {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top : 50%;
  }

    ion-nav.has-views {
        background-color: transparent !important;
        }
        
        ion-app.gmapscdv_ .nav-decor{
        background-color: transparent !important;
        }
        // https://forum.ionicframework.com/t/how-to-add-a-badge-to-a-icon-inside-a-ion-button/70868/2
        #inbox-button {
            background: transparent;            
            position: relative;
            width: 42px;
            top:1px;
            right: 1px;
            overflow: visible!important;
        }

        #inbox-badge {
            background-color: red;
            position: absolute;
            top: -3px;
            right: -3px;
            border-radius: 100%;
        }
    #map {  
        height: 400px;
        }

        
    .row-wrap {
        flex-wrap: wrap;
      }

      .gallery {
        -webkit-flex-wrap: wrap;
         flex-wrap: wrap;
    }  

    .vertical-align-content > *
    {
         display: flex!important;
         align-content: center!important;
         align-items: center!important;
    }

    .search {
        width: 100%;
        padding: 8px;
        z-index: 999;
        left: 0;
        >button{
            width: 100%;
            text-align: center;
        }
    }

    .data-header{
        >.profile-control{
            vertical-align: middle;
            >.profile-picture{
                >img{
                    height: 84px;
                    width: 84px;
                    border-radius: 50%;
                }
            }
            >.profile-detail{
                >.key-val-row{
                    >.key-val-col{
                        text-align: center;
                        >.key{
                            font-weight: bold;
                        }
                        >.val{
                            color: rgba(0, 0, 0, .5);
                        }
                    }
                }
                >.edit-profile{
                    margin-top: 8px;
                    >span, >ion-icon{
                        border: solid 1px rgba(0, 0, 0, .3);
                        border-radius: 2px;
                        padding: 4px 8px;
                    }
                    >span{
                        width: 100%;
                        text-align: center;
                        margin-right: 4px;
                    }
                }
            }
        }
        >.profile-name{
            font-weight: bold;
            ion-icon{
                color: #01A7FF;
            }
        }
        >.profile-description{
            color: rgba(0, 0, 0, .5);
        }
    }
}


