<ion-list>
    <ion-list-header>View Mode</ion-list-header>
    <button ion-item (click)="close('month')">Monthly View</button>
    <button ion-item (click)="close('week')">Weekly View</button>
    <button ion-item (click)="close('day')">Daily View</button>
  </ion-list>