<!--
  Generated template for the SearchTabsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
  <ion-navbar color="secondary">
    <ion-title>List of Activity</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <!-- Search bar -->
  <ion-searchbar placeholder="Search user or event here..." [(ngModel)]="searchKeyword" [showCancelButton]="true" (ionInput)="submitSearch('refresh')" (ionCancel)="clearSearchBar()" debounce="3000"></ion-searchbar>

  <!-- The tabs -->
  <ion-segment [(ngModel)]="selectedSearchTab" color="secondary" (ionChange)="onSearchTabChange($event)">
    <ion-segment-button value="username">
      User
    </ion-segment-button>
    <ion-segment-button value="eventname">
      Event
    </ion-segment-button>
  </ion-segment>

  <!-- list of users -->
  <div *ngIf= "userData == null && selectedSearchTab == 'username'" class="vertical-align-content">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-spinner></ion-spinner>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf= "userData != null && selectedSearchTab == 'username'">
    <!-- <ion-refresher (ionRefresh)="doUserRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher> -->
  
    <!-- SUGGESTED --> 
    <ion-list no-lines>
      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label color="tertiary">SUGGESTED</ion-label>  
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid> 
    </ion-list>

    <!-- user list -->
    <ion-list class="no-padding-margin main-list">		
      <!-- loop utama -->
      <ion-list no-lines *ngFor="let user of userData" class="no-padding-margin inner-list"> <!-- inner-list:  style="padding-left: 48px"-->        
        <!-- avatar -->
        <ion-item (click)="goToProfilePage(user.user_id)" tappable>
          <ion-avatar item-start>
            <img class="avatar" [src]="user.avatar" class="profile-picture">            
          </ion-avatar>
          <h3>{{user.username}}</h3>
          <p>{{user.email}}</p>   
        </ion-item>
      </ion-list>  
    </ion-list>
  </div>

  <!-- list of events -->
  <div *ngIf= "selectedSearchTab == 'eventname'" class="vertical-align-content">
    <ion-refresher (ionRefresh)="doEventRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div *ngIf= "eventData == null" class="vertical-align-content">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-spinner></ion-spinner>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <!-- list of events -->  
    <div *ngIf= "eventData != null" class="vertical-align-content">    
      <!-- SUGGESTED -->   
      <ion-list no-lines>
        <ion-grid>
          <ion-row>
            <ion-col col-12>
              <ion-item>
                <ion-label color="tertiary">SUGGESTED</ion-label>  
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid> 
      </ion-list>   
      
      <!-- event list -->
      <ion-list class="no-padding-margin main-list">		
        <!-- loop utama -->
        <ion-list no-lines *ngFor="let event of eventData" class="no-padding-margin inner-list"> <!-- inner-list:  style="padding-left: 48px"-->        
          <!-- avatar -->
          <ion-item (click)="goToDetailedEventPage(event.id)" tappable>
            <ion-grid>
                <ion-row>
                  <ion-col col-2>
                    <ion-icon color="none" class="zmdi zmdi-calendar zmdi-hc-2x mdc-text-green"></ion-icon>
                  </ion-col>
                  <ion-col col-10>                              
                    <h3 *ngIf="event.event_name != null">{{event.event_name}}</h3>
                    <h3 *ngIf="event.event_name == null">Event tidak diketahui</h3>	
                    <p *ngIf="event.location != null">{{event.location}}</p>  
                    <p *ngIf="event.location == null">Lokasi tidak ditemukan</p>
                  </ion-col>
                </ion-row>
              </ion-grid> 
          </ion-item>
        </ion-list>  
      </ion-list>    
    </div>  

    <!-- infinite scroll here -->
    <ion-infinite-scroll *ngIf="canEventListLoadMore" (ionInfinite)="doEventLoadMore($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>    
  </div>
</ion-content>