page-inbox {
    // primary:    #488aff,
    // secondary:  #8BC34A,
    // tertiary:   #b9b9b9,
    // danger:     #f53d3d,
    // light:      #f4f4f4,
    // dark:       #222
    .popup-head{
        height: 120px !important;
        background: #8BC34A  !important;
    }
    .popup-title {
        color: #fff !important;
    }

    .popup-buttons {
        color:#8BC34A !important;
    }
    .avatar {
        background-image: url('/assets/img/user-placeholder.png') !important;
    }
    .profile-picture{
        >img{
            height: 84px;
            width: 84px;
            border-radius: 50%;
        }
    }
    // .popup
    
    // .popup-head 
    
    // .popup-title 
    
    // .popup-sub-title 
    
    // .popup-body
    
    // .popup-buttons.row 
    
    // .popup-buttons .button
}
