<!--
  Generated template for the InboxPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="secondary">
    <ion-title>Pesan</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- Search bar -->
  <ion-searchbar placeholder="Search" [(ngModel)]="searchKeyword" [showCancelButton]="true" (ionInput)="submitSearch('refresh')" (ionCancel)="clearSearchBar()" debounce="3000"></ion-searchbar>
  
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

	<div *ngIf= "inboxData == null" class="vertical-align-content">
		<ion-grid>
			<ion-row>
				<ion-col>
					<ion-spinner></ion-spinner>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div> 

	<div *ngIf="inboxData != null">
    <!-- user list -->
    <ion-list class="no-padding-margin main-list">		
        <!-- loop utama -->
        <ion-list no-lines *ngFor="let inbox of inboxData" class="no-padding-margin inner-list">      
          <!-- show message list for event owner -->
          <!-- <ion-item *ngIf="inbox.id_user_event_owner == this.userId && inbox.id_user_donor != this.userId" (click)="confirmSeedDonation(inbox)" tappable> -->
          <ion-item *ngIf="inbox.id_user_event_owner == this.userId" (click)="confirmSeedDonation(inbox)" tappable>
            <ion-avatar item-start>
              <img class="avatar" [src]="util.checkAvatar(inbox.donor.profile.avatar)" class="profile-picture">            
            </ion-avatar>
            <h3 *ngIf="inbox.has_been_read_by_event_owner">{{inbox.donor.profile.fullname}} - read</h3>
            <h3 *ngIf="!inbox.has_been_read_by_event_owner">{{inbox.donor.profile.fullname}}</h3>
            <p>{{inbox.donor.name}} mendonasikan {{inbox.donate_seed}} buah bibit {{inbox.tree.tree_name}} kepada Anda</p>
            <p *ngIf="inbox.approval_status == this.REQUEST_TO_DONATE">{{util.formattedDate(inbox.donation_time)}}</p>
            <p *ngIf="inbox.approval_status == this.APPROVE_DONATION">{{util.formattedDate(inbox.approval_time)}}</p> 
            <p *ngIf="inbox.approval_status == this.REJECT_DONATION">{{util.formattedDate(inbox.approval_time)}}</p>                              
          </ion-item>
          <!-- to do next -->
          <!-- show message list for seed donor -->
          <ion-item *ngIf="inbox.id_user_event_owner != this.userId && inbox.id_user_donor == this.userId" (click)="readMessage(inbox)" tappable>
            <ion-avatar item-start>
              <img class="avatar" [src]="util.checkAvatar(inbox.recipient.avatar)" class="profile-picture">            
            </ion-avatar>
            <h3 *ngIf="inbox.has_been_read_by_donor">{{inbox.recipient.fullname}} - read</h3>
            <h3 *ngIf="!inbox.has_been_read_by_donor">{{inbox.recipient.fullname}}</h3>
            <p *ngIf="inbox.approval_status == this.REQUEST_TO_DONATE">{{inbox.recipient.fullname}} sedang mengonfirmasi {{inbox.donate_seed}} buah bibit {{inbox.tree.tree_name}} dari Anda</p>  
            <p *ngIf="inbox.approval_status == this.APPROVE_DONATION">{{inbox.recipient.fullname}} menerima {{inbox.donate_seed}} buah bibit {{inbox.tree.tree_name}} dari Anda</p> 
            <p *ngIf="inbox.approval_status == this.REJECT_DONATION">{{inbox.recipient.fullname}} menolak {{inbox.donate_seed}} buah bibit {{inbox.tree.tree_name}} dari Anda</p>  
            <p *ngIf="inbox.approval_status == this.REQUEST_TO_DONATE">{{util.formattedDate(inbox.donation_time)}}</p>
            <p *ngIf="inbox.approval_status == this.APPROVE_DONATION">{{util.formattedDate(inbox.approval_time)}}</p> 
            <p *ngIf="inbox.approval_status == this.REJECT_DONATION">{{util.formattedDate(inbox.approval_time)}}</p>     
          </ion-item>          
        </ion-list>  
      </ion-list>
  </div>
  
  <!-- infinite scroll here -->
  <ion-infinite-scroll *ngIf="canLoadMore" (ionInfinite)="doLoadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>  
</ion-content>