<!--
  Generated template for the VerifiedUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
    <!-- <ion-title>verified-user</ion-title> -->
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form class="form" #myForm="ngForm">
        <ion-list #fgName="ngModelGroup" ngModelGroup="name">
          <ion-list-header>
            Masukan data pribadi anda
          </ion-list-header>
          
          <ion-item>
            <ion-label floating>Nama Lengkap</ion-label>
            <ion-input required type="text" name="namaLengkap" [(ngModel)]="namaLengkap"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Tanggal Lahir</ion-label>
            <ion-datetime required displayFormat="MM/DD/YYYY" name="tglLahir" [(ngModel)]="tglLahir"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label floating>No. Telp</ion-label>
            <ion-input required type="tel" name="noTelp" [(ngModel)]="noTelp"></ion-input>
          </ion-item>
          
          <ion-item tappable (click)="pickFoto()">
            <ion-label floating>Foto Diri</ion-label>
            <ion-input required [disabled]="true" type="text" name="imgDiri" [(ngModel)]="imgDiri"></ion-input>
          </ion-item>
          <ion-item tappable (click)="pickKTP()">
            <ion-label floating>Foto KTP</ion-label>
            <ion-input required [disabled]="true" type="text" name="imgKTP" [(ngModel)]="imgKTP"></ion-input>
          </ion-item>
      </ion-list>

      <div class="attend">
      <button ion-button color="secondary" [disabled]="!myForm.valid" (click)="submitVerify()">
          AJUKAN DIRI 
      </button>    
      </div>
    </form>  
</ion-content>
