page-intro {
    ion-slide{
        background: url(../assets/img/pendek.png);
        background-repeat: no-repeat;
        background-position-y: 0;
        background-size: contain;
        // .image-1{
        //     top: -110px;
        // }
        // .image-2{
        //     top: -96px;
        // }
        // .image-3{
        //     top: -64px;
        // }
        .slide-image{
            position: absolute;
            top: 10%;
            height: 250px;
            width: 250px;
            padding: 12px;
            margin-left: -120px;
        }
        h2{
            position: absolute;
            padding: 0 16px;
            left: 0;
            width: 100%;
            text-align: center;
            bottom: 120px;
        }
        .button-continue{
            position: absolute;
            left: 0;
            width: 100%;
            text-align: center;
            bottom: 40px;
        }
    }    
}
