<!--
  Generated template for the IntroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-shadow>

  <!--
  <ion-navbar>
    <ion-title>IntroPage</ion-title>
  </ion-navbar>
-->

</ion-header>


<ion-content no-bounce>
  <ion-slides pager="true" (ionSlideWillChange)="onSlideChangeStart($event)">
    
    <ion-slide>
        <img src="assets/img/ica-slidebox-img-1.png" class="slide-image image-1" />
        <h2 class="slide-title">Start Planting Your Tree !</h2>
    </ion-slide>
    <ion-slide>
        <img src="assets/img/ica-slidebox-img-2.png" class="slide-image image-2" />
        <h2 class="slide-title">Capture Right Away with Auto Tag Location !</h2>
    </ion-slide>
    <ion-slide>
      <img src="assets/img/ica-slidebox-img-4.png" class="slide-image image-3" />
      <h2 class="slide-title">Inspire People Across The World by Sharing Your Post !</h2>
      <button ion-button icon-end large clear (click)="goFirstPage()" class="button-continue">
      Continue
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>

  </ion-slides>
</ion-content>
