<ion-header>
  <ion-navbar color="secondary">
      <ion-title>Pilih Lokasi</ion-title>
      <ion-buttons end>
          <button ion-button icon-only (click)="closeModal()">
              <ion-icon item-right name="ios-close-outline"></ion-icon>
          </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form class="form" #myForm="ngForm">
  <ion-list #fgName="ngModelGroup" ngModelGroup="name">
      <ion-item>
          <ion-label> <ion-icon name="md-search"></ion-icon></ion-label>
          <ion-input name="location" [(ngModel)]="location" (change)="search()" type="text"></ion-input>
      </ion-item>
       
      <ion-list-header>
              Hasil Pencarian
      </ion-list-header>
      <div *ngIf="isLoading">
          <ion-item>
              <ion-spinner></ion-spinner>
          </ion-item>
       </div>
      <div *ngIf="searchData != null">
          <ion-item tappable *ngFor="let row of searchData" (click)="pickLocation(row)">
              <ion-avatar item-start>
                  <img src="assets/img/sponsor2.png"> <!-- nanti diganti sama image location picker2 gitu -->
              </ion-avatar>
              <h2>{{row.address_components[0].short_name}}</h2> 
              <p>{{row.formatted_address}}</p>
          </ion-item> 
      </div>  
      
  </ion-list>
</form>
</ion-content>