<!--
  Generated template for the SettingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="secondary">
    <ion-title>Settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item-group>
    <ion-item-divider color="light">User</ion-item-divider>
    <ion-item tappable (click)="verifyMe()" >
      <ion-icon name="md-checkmark"></ion-icon>
    Menjadi Verified User
    </ion-item>
    <ion-item tappable (click)="editProfile()" >
      <ion-icon name="md-person"></ion-icon>
    Edit Profile
    </ion-item>
    <ion-item tappable (click)="logout()" >
      <ion-icon name="md-power"></ion-icon>
    Logout
    </ion-item>
  </ion-item-group>
</ion-content>
