<!--
  Generated template for the DonateSeedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>    
  <ion-navbar color="secondary">
    <ion-title>
      <!-- <img alt="logo" height="40" src="assets/img/logo.png" >  -->
      Bibit
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding text-center class="vertical-align-content">
  <form class="form" #myForm="ngForm">
      <div class="donate">
        <button *ngIf="!buttonLoading" (click)="donateSeed()" ion-button color="secondary">
          BANTU SEKARANG
        </button>
  
        <button *ngIf="buttonLoading" [disabled]="true" ion-button color="light">
          <ion-spinner></ion-spinner> Sedang memproses ... 
        </button>
      </div>
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <p>Masukkan jumlah bibit yang ingin anda berikan</p>
        </ion-col>
        <ion-col col-12>
          <ion-input text-center required type="number" class="number_of_seeds" name="number_of_seeds" [(ngModel)]="number_of_seeds" ></ion-input>                      
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-label floating>Pohon</ion-label>
            <ion-select required multiple="false" name="tree" [(ngModel)]="tree_id">
              <ion-option *ngFor="let row of treeData" value="{{row.id}}">{{row.tree_name}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>