page-donate-seed {
    .toolbar-background{
        background: #8BC34A !important;
    }
    
    .back-button{
        color: white !important;
    }

    .vertical-align-content > *
    {
        display: flex!important;
        align-content: center!important;
        align-items: center!important;
    }

    .donate
    {
        position: fixed;
        bottom: 56px;
        width: 100%;
        padding: 8px;
        z-index: 999;
        left: 0;
        >button{
            width: 100%;
            text-align: center;
        }
    }

    .number_of_seeds 
    {
        font-size:56px;
        font-weight: bold;
        text-align:center;
    }
}
