page-detail-event {

    .vertical-align-content > *
    {
         display: flex!important;
         align-content: center!important;
         align-items: center!important;
    }

    .attend{
        position: fixed;
        bottom: 56px;
        width: 100%;
        padding: 8px;
        z-index: 999;
        background: rgba(0, 0, 0, .7);
        left: 0;
        >button{
            width: 100%;
            text-align: center;
        }
    }
    .toolbar-background{
        background: #8BC34A !important;
    }
    .back-button{
        color: white !important;
    }

    ion-header{
        // z-index: 0 !important;
    }
    .inner-action-bar{
        margin: -16px;
        min-height: 140px;
        margin-bottom: 16px;
        width: 110%;
        background-image: url('../assets/img/event.jpg') !important;
        top: 0px;
        left: 0px;
        >ion-grid{
            height: 100%;
            >ion-row{
                height: 100%;
                vertical-align: bottom;
                >ion-col{
                    margin-bottom: 24px;
                    margin-top: 100px;
                    margin-left: 18px;
                    max-width: 280px;
                    color: white;
                    font-size: 1.4em;
                    font-weight: bold;
                    vertical-align: bottom;
                }
            }
        }

    }
    .section-all{
        >ion-icon{
            margin-right: 8px;
            font-size: .95em;
        }
        >span{
            color: rgba(0, 0, 0, .6);
        }
    }
    .section-calendar{
        margin-bottom: 8px;
        >ion-icon{
            
        }
        >span{

        }
    }
    .section-pin{
        margin-bottom: 12px;
        >ion-icon{
            margin-left: 2px;
        }
        >span{
            
        }
    }
    ion-grid, ion-col{
        padding: 0px !important;
    }
    ion-grid{
        >.description{
            >ion-col{
                margin-top: -4px;
                >p{
                    line-height: 1.5em;
                }
            }
        }
        >.sponsor{
            >ion-col{
                margin-top: 12px;
                >.head{
                    font-weight: bold;
                    margin-bottom: 4px;
                }
                >.body{
                    >img{
                        height: 48px;
                    }
                }
            }
        }
        >.section-detail-event{
            >ion-col{
                margin-bottom: 25%;
                vertical-align: middle;
                >.head{
                    font-weight: bold;
                }
                >.body{
                    padding: 8px 0;
                }
                >.body-friend{
                    >img{
                        border-radius: 50%;
                        width: 24px;
                        height: 24px;
                        object-fit: cover;
                        margin-right: -10px;
                    }
                    >span{
                        margin-left: 12px;
                        padding-bottom: 5px;
                    }
                }
                >.body-share{
                    font-size: 1.5em;
                }
            }
        }
    }
}
