<!--
	Generated template for the DetailEventPage page.

	See http://ionicframework.com/docs/components/#navigation for more info on
	Ionic pages and navigation.
-->
<ion-header no-border>
	<ion-navbar color="secondary">
    <ion-title>
	  <!-- <img alt="logo" height="40" src="assets/img/logo.png" >  -->
	  <!-- Event -->
    </ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<div *ngIf= "data == null" class="vertical-align-content">
		<ion-grid >
			<ion-row>
				<ion-col>
					<ion-spinner></ion-spinner>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div> 

	<div *ngIf= "data != null">
		<div class="attend">
			<button *ngIf="!buttonLoading && data.status_attend == 0" (click)="attend(data.id)" ion-button color="secondary">
				IKUT BERPARTISIPASI
			</button>

			<button *ngIf="!buttonLoading && data.status_attend == 1" (click)="unattend(data.id)" ion-button color="danger">
				BATAL BERPARTISIPASI
			</button>

			<button *ngIf="buttonLoading" [disabled]="true" ion-button color="light">
				<ion-spinner></ion-spinner> Sedang memproses ... 
			</button>
		</div>		
		<div class="inner-action-bar">
			<ion-grid>
				<ion-row>
					<ion-col col-12>
						<p *ngIf="data.event_name != null">{{data.event_name}}</p>
						<p *ngIf="data.event_name == null">Event tidak diketahui</p>						
					</ion-col>
				</ion-row>
			</ion-grid>
		</div>

		<ion-grid>
			<ion-row class="section-calendar section-all">
				<ion-col col-1>
					<ion-icon name="calendar"></ion-icon>
				</ion-col>
				<ion-col col-11>
					<span>{{getFormatedDate()}} {{getFormatedTime()}}</span>
				</ion-col>
			</ion-row>
			<ion-row class="section-pin section-all" tappable (click)="showMap()">
				<ion-col col-1>
					<ion-icon name="pin"></ion-icon>
				</ion-col>
				<ion-col col-11>
					<span *ngIf="data.location != null">{{data.location}}</span>
					<span *ngIf="data.location == null">Lokasi tidak ditemukan</span>
				</ion-col>	
			</ion-row>
			<ion-row class="section-pin section-all">
				<ion-col col-1>
					<ion-icon class="zmdi zmdi-landscape"></ion-icon>							
				</ion-col>
				<ion-col col-11>
					<span *ngIf="data.area_range == 1">&lt; {{data.area_range}} Hektar</span>
					<span *ngIf="data.area_range == 10">1 - {{data.area_range}} Hektar</span>
					<span *ngIf="data.area_range == -1">&gt; 10 Hektar</span>
					<!-- <span *ngIf="(data.area_range != 1 && data.area_range != 10 && data.area_range != -1) || data.area_range == null">0 Hektar</span>							 -->
				</ion-col>
			</ion-row>
			<ion-row class="section-pin section-all">
				<ion-col col-1>
					<ion-icon class="zmdi zmdi-flower-alt"></ion-icon>
				</ion-col>
				<ion-col col-11>
					<span *ngIf="data.seed_range == 500">&lt; {{data.seed_range}} Bibit</span>
					<span *ngIf="data.seed_range == 1000">500 - {{data.seed_range}} Bibit</span>
					<span *ngIf="data.seed_range == -1">&gt; 1000 Bibit</span>
					<!-- <span *ngIf="(data.seed_range != 500 && data.seed_range != 1000 && data.seed_range != -1) || data.seed_range == null">0 Bibit</span> -->
				</ion-col>
			</ion-row>
		</ion-grid>
		<ion-grid>
			<ion-row>
				<ion-col col-12>
					<hr/>
				</ion-col>
			</ion-row>
			<ion-row class="description">
				<ion-col col-12>
					<p *ngIf="data.desc != null">{{data.desc}}</p>
					<p *ngIf="data.desc == null">N/A</p>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-12>
					<hr/>
				</ion-col>
			</ion-row>
			<ion-row class="sponsor">
				<ion-col col-12>
					<div class="head">
						Sponsor
					</div>
					<div class="body" *ngIf="data.event_sponsor.length > 0">
						<img style="margin:5px" *ngFor="let sponsor of data.event_sponsor" [src]="sponsor.sponsors.image" alt="" />
					</div>

					<div class="body" *ngIf="data.event_sponsor.length == 0">
						No Sponsor
					</div>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-12>
					<hr/>
					<button *ngIf="!buttonLoading" ion-button block outline (click)="goToDonateSeedPage(data.id)" ion-button color="secondary">
						BANTU BIBIT
					</button>
					<hr/>
				</ion-col>
			</ion-row>
			<ion-row class="section-detail-event">
				<ion-col col-4 (click)="showParticipants(data.id, 'participants')">
					<div class="head">
						Peserta
					</div>
					<div class="body" *ngIf="data.total_participants">
						{{data.total_participants.total_participants}}
					</div>
					<div class="body" *ngIf="!data.total_participants">
							0
					</div>
				</ion-col>

				<ion-col col-5>
					<div class="head">
						Teman
					</div>
					<div class="body body-friend" (click)="showParticipants(data.id, 'friends')">
						<!-- <img src="assets/img/sarah-avatar.png.jpeg" alt="" />
						<img src="assets/img/marty-avatar.png" alt="" />
						<img src="assets/img/ian-avatar.png" alt="" /> -->
						<!-- <span>-</span> -->
						<div class="body" *ngIf="data.total_friends">
							{{data.total_friends}}
						</div>
						<div class="body" *ngIf="!data.total_friends">
								0
						</div>
					</div>
				</ion-col>
				<ion-col col-3>
					<div class="head">
						<!--Kosong-->
					</div>
					<div class="body body-share" tappable (click)="shareTo()">
						<ion-icon name="share"></ion-icon>
					</div>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-12>
					<hr/>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>	

</ion-content>