<!--
  Generated template for the InitPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!-- <ion-navbar>
    <ion-title>InitPage</ion-title>
  </ion-navbar> -->

</ion-header>


<ion-content text-center class="vertical-align-content" >
    <ion-grid>
          <ion-row>
                <ion-col>
                      <ion-spinner></ion-spinner>
                </ion-col>
          </ion-row>
    </ion-grid>
</ion-content>
