<!--
  Generated template for the EventTabsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
    <ion-title class=" text-align: left" *ngIf= "selectedEventTab == 'daily'">List of Events</ion-title>
    <ion-title *ngIf= "selectedEventTab == 'monthly'">{{viewTitle}}</ion-title>
    <!-- <ion-buttons *ngIf= "selectedEventTab == 'monthly'" end>
      <button ion-button icon-only (click)="presentPopover($event)">
          <ion-icon name="more"></ion-icon>
        </button>
    </ion-buttons> -->
  </ion-navbar>

  <ion-segment [(ngModel)]="selectedEventTab" color="secondary" (ionChange)="onEventTabChange($event)">
      <ion-segment-button value="daily">
        Daily
      </ion-segment-button>
      <ion-segment-button value="monthly">
        Monthly
      </ion-segment-button>
    </ion-segment>
</ion-header>

<ion-content>
  <!-- The tabs -->
  <ion-fab *ngIf="myProfileData.is_verified == 1" right bottom>
      <button (click)="goToAddEvent()" color="secondary" ion-fab><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <!-- daily -->
  <div *ngIf= "selectedEventTab == 'daily'" class="vertical-align-content">
    
    <div *ngIf= "dailyEventData == null" class="vertical-align-content">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-spinner></ion-spinner>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

    <div *ngIf= "dailyEventData != null">
      <ion-refresher (ionRefresh)="doDailyEventRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

      <!-- Real floating action button, fixed. It will not scroll with the content -->
      <ion-list class="no-padding-margin main-list">
        
        <!-- loop utama -->
        <ion-list *ngFor="let inner of dailyEventData" class="no-padding-margin inner-list"> <!-- inner-list:  style="padding-left: 48px"-->
          <div class="date-label"> <!-- date-label:  style="position: absolute; left: 0; width: 56px; text-align: center;" -->
            <div class="date-label-number">{{getDayName(inner.event_date)}}</div> <!-- date-label-number:  style="font-weight: bold" -->
            <div>{{getMonthName(inner.event_date)}}</div>
            <div>{{getYearName(inner.event_date)}}</div>
          </div>
          <!-- loop setelah tanggal group -->
          <ion-card *ngFor="let row of inner.events" (click)="goToDetailEvent(row)">
            <ion-card-content>
              <div class="event-description"> <!-- event-description:  style="font-weight: bold;word-wrap: break-word; margin: 16px 0; margin-right: 8px;" -->
                <ion-grid style="margin-top:-25px">
                  <ion-row>
                    <ion-col col-10>                      
                      {{row.event_name}}
                    </ion-col>
                    <ion-col col-2>
                        <ion-icon *ngIf="row.no_sponsor == '1'" class="zmdi zmdi-money-off zmdi-hc-2x mdc-text-grey" item-right></ion-icon>
                        <ion-icon *ngIf="row.no_sponsor == '0'"  class="zmdi zmdi-money zmdi-hc-2x mdc-text-green" item-right></ion-icon>                                                    
                    </ion-col>
                  </ion-row>
                </ion-grid>
                </div>
                <ion-grid>
                  <ion-row>
                    <ion-col col-1>
                        <ion-icon name="md-clock"></ion-icon>
                    </ion-col>
                    <ion-col col-11>
                        {{getFormatedDate(row.event_date)}} - {{getFormatedTime(row.event_time)}}
                    </ion-col>
                  </ion-row>
                  <ion-row *ngIf="row.location != null">
                      <ion-col col-1>
                          <ion-icon name="md-pin"></ion-icon>   
                      </ion-col>
                      <ion-col col-11>
                          {{row.location}}
                      </ion-col>
                  </ion-row>
                  <ion-row *ngIf="row.location == null">
                      <ion-col col-1>
                          <ion-icon name="md-pin"></ion-icon>   
                      </ion-col>
                      <ion-col col-11>
                          Lokasi tidak ditemukan
                      </ion-col>
                  </ion-row>
                </ion-grid>
            </ion-card-content>
          </ion-card>          
        </ion-list>  
      </ion-list>
    </div>
  </div>  
  <!-- daily list -->
    
  <!-- list of monthly events -->
  <div *ngIf= "selectedEventTab == 'monthly'" class="vertical-align-content">
    <!-- <ion-refresher (ionRefresh)="doMonthlyRefresh($monthly)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher> -->

    <div *ngIf= "monthlyEventData == null" class="vertical-align-content">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-spinner></ion-spinner>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <!-- list of monthly events -->  
    <div *ngIf= "monthlyEventData != null" class="vertical-align-content">
     
        <!-- <ion-grid>
          <ion-row>
            <ion-col col-12>        
              <ion-item>{{viewTitle}}</ion-item>
            </ion-col>
            <ion-col col-12>
              <ion-item tappable (click)="today()">Today</ion-item>
            </ion-col>
          </ion-row> -->
        
          <!-- <ion-row>
            <ion-col col-4><ion-item tappable (click)="changeMode('month')">M</ion-item></ion-col>
            <ion-col col-4><ion-item tappable (click)="changeMode('week')">W</ion-item></ion-col>
            <ion-col col-4><ion-item tappable (click)="changeMode('day')">D</ion-item></ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-3><ion-item tappable (click)="loadEvents()">Load Events</ion-item></ion-col> 
          </ion-row> -->
      
       <div>
          <calendar 
          [eventSource]="eventSource"
          [calendarMode]="eventCalendar.mode"
          [currentDate]="eventCalendar.currentDate"
          (onCurrentDateChanged)="onCurrentDateChanged($event)"
          (onEventSelected)="onEventSelected($event)"
          (onTitleChanged)="onViewTitleChanged($event)"
          (onTimeSelected)="onTimeSelected($event)"
          step="30">
        </calendar>
        </div>
      <!-- </ion-grid> -->

    </div> 
  </div>
</ion-content>