page-event-tabs {

    // ion-title {
    //     text-align: left !important;
    // }

    .vertical-align-content > *
    {
         display: flex!important;
         align-content: center!important;
         align-items: center!important;
    }

    // ion-fab{
    //     z-index: 99999 !important;
    // }

    .search {
        width: 100%;
        padding: 8px;
        z-index: 999;
        left: 0;
        >button{
            width: 100%;
            text-align: center;
        }
    }

    .no-padding-margin{
        margin: 0;
        padding: 0;
    }
    .item-inner, ion-label{
        margin-right: 0 !important;
        padding-right: 0 !important; 
    }

    .main-list{
        >.inner-list{
            padding-left: 48px;
            >.date-label{
                position: absolute;
                left: 0;
                width: 56px;
                text-align: center;
                >.date-label-number{
                    font-weight: bold;
                }
            }
            .event-description{
                font-weight: bold;
                word-wrap: break-word;
                margin: 16px 0;
                margin-right: 8px;
            }
        }
    }
}
