<!--
  Generated template for the AddEventsponsorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="secondary">
    <ion-title>
      Sponsor
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list id="sponsorship">
    <div *ngIf="selectedSponsors != null">
      <ion-item *ngFor="let existingSponsor of selectedSponsors">
        <ion-label>{{existingSponsor.name}}</ion-label>
        <ion-checkbox [(ngModel)]="existingSponsor.checked" [disabled]="existingSponsor.disabled"></ion-checkbox>
      </ion-item>
    </div>
    
    <ion-item>
      <ion-label>No Sponsor</ion-label>
      <ion-checkbox [(ngModel)]="noSponsor" [checked]="noSponsor" (click)="toggleDisableAllSponsors()"></ion-checkbox>
    </ion-item>
    
    <ion-item>
      <ion-label>
        Sponsor Manual
      </ion-label>
      <ion-checkbox [(ngModel)]="sponsorManualMode.checked" [disabled]="sponsorManualMode.disabled" ></ion-checkbox>
    </ion-item>
    <ion-item tappable (click)="addNewSponsorManual()" no-lines>
      <ion-icon item-left></ion-icon>
        Tambah Sponsor
      <ion-icon class="zmdi zmdi-plus-square"></ion-icon>
    </ion-item>
    <ion-item *ngIf="sponsorManualList != null" no-lines>
      <ion-icon item-left></ion-icon>
      <ion-list *ngFor="let sponsorManual of sponsorManualList" no-lines>
        <ion-item no-lines>
          <ion-label floating>Nama Sponsor</ion-label>
          <ion-input [(ngModel)]="sponsorManual.name" [disabled]="!sponsorManualMode.checked" type="text" name="name"></ion-input>
        </ion-item> 
        <ion-item tappable (click)="browseImage(sponsorManual)" no-lines>
          <ion-label floating>Logo Sponsor<ion-icon class="zmdi zmdi-upload" item-right></ion-icon></ion-label>          
          <ion-input readonly [(ngModel)]="sponsorManual.logo" [disabled]="!sponsorManualMode.checked" type="text" name="name"></ion-input>          
        </ion-item>
      </ion-list>
    </ion-item>    
  </ion-list>  
  

  <ion-item no-lines>
      <ion-icon item-left></ion-icon>      
  </ion-item> 

  <div class="attend">
		<button ion-button color="secondary" (click)="saveSponsorData()">
			SAVE
		</button>
	</div>
</ion-content>