page-add-eventsponsor {
    // ion-label{
    //     ion-icon{
    //         float: right;
    //     }
    // }

    ion-navbar{
        .back-button {
            display: block;
        }
    }
    .attend{
        position: fixed;
        bottom: 8px;
        width: 100%;
        padding: 8px;
        z-index: 999;
        background: rgba(0, 0, 0, 0);
        left: 0;
        >button{
            width: 100%;
            text-align: center;
        }
    }
}
