page-comment {
    .chatPageFooter {
        .toolbar-background {
          background: map-get($colors, background-color);
        }
      }

      .text-input::-moz-placeholder {
        font-size : 9pt;
      }
      
      .text-input:-ms-input-placeholder {
        font-size : 9pt;
      }
      
      .text-input::-webkit-input-placeholder {
        font-size : 9pt;
      }

    .small-text {
      font-size : 8pt;
      color : grey;
    }

    .comment-text {
      font-size : 11pt;
    }

    .vertical-align-content > *
    {
         display: flex!important;
         align-content: center!important;
         align-items: center!important;
    }
}
