<!--
  Generated template for the CommentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
      <ion-buttons left>
      <button ion-button icon-only (click)="goBack()">
          <ion-icon name="arrow-back"></ion-icon>
      </button>
  </ion-buttons>
    <ion-title>Komentar</ion-title>
    
  </ion-navbar>

</ion-header>



<ion-content padding>
    <div *ngIf= "data == null" class="vertical-align-content">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-spinner></ion-spinner>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div> 

      <div *ngIf="data != null">
      <ion-refresher (ionRefresh)="doRefresh($event)">
          <ion-refresher-content></ion-refresher-content>
        </ion-refresher>

    <ion-list>
      <ion-item text-wrap *ngFor="let row of data">
        <ion-avatar item-start>
          <img src="{{checkAvatar(row.avatar)}}">
        </ion-avatar>
        <h2>{{row.fullname}}</h2>
        <p class="small-text">{{util.formattedDate(row.created_at)}}</p>
        <br>
        <span class="comment-text">{{row.comment}}</span>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll *ngIf="canLoadMore" (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>

<ion-footer class="chatPageFooter">
    <ion-toolbar>
  
      <ion-item>
          <ion-label> <ion-icon name="send"></ion-icon></ion-label>
          <ion-input [(ngModel)]="comment" type="text" placeholder="Silahkan masukan komentar anda"></ion-input>
      </ion-item>
  
      <ion-buttons style="background-color:#8BC34A" right>
        <button style="min-width:45px;min-height:45px" color="light" ion-button (click)="postComments()">
          <ion-icon name="md-checkmark"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>