
<ion-header>

    <ion-navbar color="secondary">
    <ion-title style="text-align:left !important">
      <!-- <img alt="logo" height="40" src="assets/img/logo.png" >  -->
      Create Event
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form class="form" #myForm="ngForm">
    <ion-list #fgName="ngModelGroup" ngModelGroup="name">
        <ion-item>
          <ion-label floating>Nama Event</ion-label>
          <ion-input required type="text" name="event_name" [(ngModel)]="event_name" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Tanggal Event</ion-label>
          <ion-datetime required displayFormat="DD MMM YYYY" min="2016" max="2030" name="event_date" [(ngModel)]="event_date"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label floating>Waktu Event</ion-label>
          <ion-datetime required displayFormat="hh:mm A" pickerFormat="HH:mm" name="event_time" [(ngModel)]="event_time"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label floating>Jumlah Bibit</ion-label>
          <ion-select required multiple="false" name="seed_range" [(ngModel)]="seed_range">
            <ion-option *ngFor="let row of seedRangeList" value="{{row.value}}">{{row.description}}</ion-option>        
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label floating>Luas Lahan</ion-label>
          <ion-select required multiple="false" name="area_range" [(ngModel)]="area_range">
            <ion-option *ngFor="let row of areaRangeList" value="{{row.value}}">{{row.description}}</ion-option> 
          </ion-select>
        </ion-item>
        <ion-item tappable (click)="pickLokasi()"> 
          <ion-label floating>Lokasi</ion-label>
          <ion-input readonly required name="location" type="text" [(ngModel)]="location"></ion-input>
        </ion-item>
        <ion-item tappable (click)="addEventSponsor()">
          <ion-label floating>Sponsor</ion-label>
          <ion-input readonly name="sponsor" type="text" [(ngModel)]="eventSponsorName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Deskripsi</ion-label>
          <ion-input required type="text" name="desc" [(ngModel)]="desc"></ion-input>
        </ion-item>          
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>
              </ion-col>
            </ion-row>
          </ion-grid> 
        </ion-item>
      </ion-list>
    </form>  

  <div class="attend">
		<button ion-button color="secondary" [disabled]="!myForm.valid && !isSubmitting" (click)="submitEvent()">
			AJUKAN EVENT
		</button>
	</div>
</ion-content>
