<ion-header>
    <ion-navbar color="secondary">
    <!-- <ion-title>
      <img alt="logo" height="40" src="assets/img/logo.png" > 
    </ion-title> -->
    </ion-navbar>
  </ion-header>
   
  <ion-content>
    <img src="{{pathForImage(lastImage)}}" style="width: 100%" [hidden]="lastImage === null">
    <!-- <h3 [hidden]="lastImage !== null">Please Select Image!</h3> -->

    <form class="form" #myForm="ngForm">
      <ion-list #fgName="ngModelGroup" ngModelGroup="name">
        <ion-item (click)="showLocationModal()">
          <ion-label floating>Lokasi <ion-icon name="pin"></ion-icon> </ion-label>
          <ion-input readonly type="text" name="location" [(ngModel)]="location" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Caption</ion-label>
          <ion-input type="text" name="caption" [(ngModel)]="caption"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Deskripsi</ion-label>
          <ion-input type="text" name="deskripsi" [(ngModel)]="deskripsi"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Event</ion-label>
          <ion-select name="events" [(ngModel)]="events">
            <ion-option *ngFor="let row of eventsData" value="{{row.id}}">{{row.event_name}}</ion-option>
          </ion-select>
          </ion-item>
        <ion-item>
            <ion-label floating>Jenis Pohon</ion-label>
            <ion-select name="trees" [(ngModel)]="trees">
              <ion-option *ngFor="let row of treesData" value="{{row.id}}">{{row.tree_name}}</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
  </form>  

  </ion-content>
   
  <ion-footer>
    <ion-toolbar color="clear">
        <ion-grid text-center>
            <ion-row>
              <ion-col col-6>   
                <button ion-button block color="secondary"  (click)="presentActionSheet()">
                  <ion-icon name="camera"></ion-icon> &nbsp; SELECT IMAGE
                </button></ion-col>
               <ion-col col-6>
                  <button ion-button block color="secondary"  (click)="doCreateActivity()" [disabled]="lastImage === null || firstLoad || checkMandatory()">
                      <ion-icon name="md-send"></ion-icon> &nbsp; KIRIM
                  </button>
              </ion-col>
            </ion-row>
          </ion-grid>
     
    </ion-toolbar>
  </ion-footer>